<!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="utf-8">
 <%- partial('partials/stylesheet', stylesheets) %>
 <title><%= title %></title>
 </head>
 <body>
 <h1><%= header %></h1>
 <%- body %>

 <form action="/send" method="POST">
 	<input type="text" max-length="140" name="tweet" />
 	<input type="submit" value="Tweet" />
 </form>
 <%- partial('partials/chirp',tweets)%>
 </body>
</html>